function formatPlayCount(count) {
  var numCount = parseInt(count);

  var getCountInfo = function () {
    var countLen = ('' + count).length;
    return {
      mul: countLen >= 9 ? 8 : countLen >= 5 ? 4 : 0,
      unit: countLen >= 9 ? '亿' : countLen >= 5 ? '万' : '',
      flag: countLen >= 5
    };
  };

  var countInfo = getCountInfo();
  var resCount = numCount / Math.pow(10, countInfo.mul);
  return (countInfo.flag ? resCount.toFixed(1) : resCount) + countInfo.unit;
}

function formatPlayTime(time) {
  time = time / 1000;
  var minute = Math.floor(time / 60);
  var sceond = Math.floor(time) % 60;

  var padZero = function (time) {
    time = '' + time;
    return ('00' + time).slice(time.length);
  };

  return padZero(minute) + ':' + padZero(sceond);
}
// 定义的内容必须导出才能被使用，而且必须使用commonJs导出
module.exports = {
  formatPlayCount: formatPlayCount,
  formatPlayTime: formatPlayTime
};
